<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fl.server.mapper.SceneMapper">
    <resultMap id="Scene" type="com.fl.server.pojo.Scene">
        <id column="id"  property="id"/>
        <result column="institution" jdbcType="VARCHAR" property="institution"/>
        <result column="scene_name" jdbcType="VARCHAR" property="sceneName"/>
        <result column="target" jdbcType="VARCHAR" property="target"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>
    <select id="getAllScene" resultMap="Scene" resultType="com.fl.server.pojo.Scene">
        select * from scene;
    </select>
    <select id="selectByInstitution" resultMap="Scene" resultType="com.fl.server.pojo.Scene">
        select * from scene where institution=#{institution};
    </select>
    <insert id="insert">
        insert into scene (institution,scene_name,target,description) values (#{scene.institution},#{scene.sceneName},#{scene.target},#{scene.description})
    </insert>
    <update id="update">
        update scene set institution=#{scene.institution},scene_name=#{scene.sceneName},target=#{scene.target},description=#{scene.description} where scene_name=#{scene.sceneName};
    </update>
    <delete id="delete">
        delete from scene where scene_name=#{sceneName};
    </delete>
</mapper>