<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fl.server.mapper.UserMapper">
    <resultMap id="User" type="com.fl.server.pojo.User">
        <id column="id" property="id"/>
        <result column="user_account" jdbcType="VARCHAR" property="userAccount"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="user_type" jdbcType="VARCHAR" property="userType"/>
        <result column="institution" jdbcType="VARCHAR" property="institution"/>
        <result column="survival"  property="survival"/>
    </resultMap>
    <select id="getAllUser" resultMap="User" resultType="com.fl.server.pojo.User">
        select * from user;
    </select>
    <select id="selectByType" resultMap="User" resultType="com.fl.server.pojo.User">
        select * from user where user_type=#{userType};
    </select>
    <select id="selectByAccount" resultMap="User" resultType="com.fl.server.pojo.User">
        select * from user where user_account=#{userAccount};
    </select>

    <insert id="insert">
        insert into user (user_account,password,user_type,institution,survival) values (#{user.userAccount},#{user.password},#{user.userType},#{user.institution},#{user.survival})
    </insert>
    <update id="update">
        update user set password=#{user.password},user_type=#{user.userType},institution=#{user.institution},survival=#{user.survival} where user_account=#{user.userAccount};
    </update>
    <delete id="delete">
        delete from user where user_account=#{userAccount};
    </delete>
</mapper>