<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fl.server.mapper.UtilsMapper">
    <resultMap id="Model" type="com.fl.server.pojo.Model">
        <id column="id"  property="id"/>
        <result column="name" property="name"/>
        <result column="params" property="params"/>
    </resultMap>
    <resultMap id="Log" type="com.fl.server.pojo.Logger">
        <id column="id"  property="id"/>
        <result column="user_id" property="userId"/>
        <result column="info" property="info"/>
    </resultMap>

    <select id="DatasetNameToId" resultType="int">
        select id from dataset where dataset_name=#{name};
    </select>
    <select id="IdToDatasetName" resultType="string">
        select dataset_name from dataset where id=#{id};
    </select>

    <select id="TaskNameToId" resultType="int">
        select id from task where task_name=#{name};
    </select>
    <select id="IdToTaskName" resultType="string">
        select task_name from task where id=#{id};
    </select>

    <select id="SceneNameToId" resultType="int">
        select id from scene where scene_name=#{name};
    </select>
    <select id="IdToSceneName" resultType="string">
        select scene_name from scene where id=#{id};
    </select>

    <select id="NodeNameToId" resultType="int">
        select id from node where node_name=#{name};
    </select>
    <select id="IdToNodeName" resultType="string">
        select node_name from node where id=#{id};
    </select>

    <select id="UserAccountToId" resultType="int">
        select id from user where user_account=#{name};
    </select>
    <select id="IdToUserAccount" resultType="string">
        select user_account from user where id=#{id};
    </select>
    <select id="getAllModel">
        select * from model;
    </select>
    <select id="getLogByUserId">
        select * from logger where user_id=#{userId};
    </select>
    <insert id="addLog">
        insert into logger (user_id,info) values (#{log.userId},#{log.info});
    </insert>

    <select id="selectServerMap" resultType="string">
        select info from server_map where name=#{name};
    </select>
    <insert id="insertServerMap">
        insert into server_map
        (name,info) values (#{name},#{info});
    </insert>
</mapper>