.start-search {
    height: 40px;
    background: #ef7e54 !important;
    border-radius: 3px;
    outline: none;
    color: #fff !important;
    padding: 0px 35px;
    border:0px !important;
}
.start-search:hover{
    background-color: #ef7e54 !important;
    border-color: #ef7e54 !important;
    color: #fff !important;
}
.start-search:focus{
    background-color: #ef7e54 !important;
    border-color: #ef7e54 !important;
    color: #fff !important;
}

.create-account {
    height: 40px;
    background: #0065ff !important;
    border-radius: 3px;
    outline: none;
    color: #fff !important;
    padding: 0px 35px;
    border:0px !important;
}
.create-account:hover{
    background-color: #0065ff !important;
    border-color: #0065ff !important;
    color: #fff !important;
}
.create-account:focus{
    background-color: #0065ff !important;
    border-color: #0065ff !important;
    color: #fff !important;
}

.account-list {
    background: #fff;
    border-radius: 0px;
    min-height: 500px;
}

#monitor .el-dialog__body {
    padding: 0px !important;
}
#monitor .el-dialog__header {
    padding: 0px !important;
}
.nodes {
    display: flex;
    height: 35px;
}
.nodes > div.active {
    padding: 0px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #007dff;
    margin-right: 2px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
}
.nodes > div {
    padding: 0px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #999;
    color: #fff;
    margin-right: 2px;
    line-height: 35px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}